<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Eat The Burgers!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>
  <body>
    <div class="Imgdiv">
      <h1 class="mainTitle">The Burger Shop</h1>
      <img src="assets/img/Hamburger-PNG-Pic.png" width="250" height="280"> 
    </div>
    <br><br>
    {{{ body }}}
  </body>
  	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>