body{
    min-height: 1200px;
}

h1{
    color: black;
    font-family: 'Cabin Sketch', cursive;
    font-size: 300px;
    text-align: center;
}

h2{
    color: #5c4033;
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
    text-align: center;
    margin-bottom: 100px;
}

/* Start */
#name-input{
    width: 15%;
    height: 120px;
    font-size: 85px;
    background-color: transparent;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 40px 40px 40px 40px;
    font-weight: 600;
    outline: none;
    margin-left: 40%;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.8);
    border: dotted 5px gray;
}

#playBtn{
    width: 5%;
    text-align: center;
    font-size: 100px;
    background-color: #B29772;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.8);
    border: dashed 4px #41403E;
    font-family: 'Cabin Sketch', cursive;
}

.player-display{
    border: 5px dashed #5c4033;
    margin-top: 180px;
    height: 900px;
    width: 30%;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.8);
}

/* Player 1 section */
#player1{     
    float: left;
    margin-left: 4%;
}

#rockBtn1{
    margin-left: 14%;
    background: url("../images/rock.png");
    border-radius: 240px 20px 325px 15px/15px 325px 20px 240px;
}

#paperBtn1{
    background: url("../images/paper.png");
    border-radius: 155px 45px 225px 15px/15px 225px 45px 155px;  
}

#scissorBtn1{
    background: url("../images/scissor.png");
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.player1Btn{
    width:371px;
    height: 450px;
    border:dotted 5px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.5);
    margin-right: 5%;
}

.player1Btn:hover{
    box-shadow:6px 12px 8px -10px rgba(31, 31, 31, 0.3);
    transform: skew(8deg) rotate(3deg);  
}

/* Player 2 */
#player2{
    float: left;
    margin-right: 130px;
}

#rockBtn2{
    margin-left: 14%;
    background: url("../images/rock.png");
    border-radius: 240px 20px 325px 15px/15px 325px 20px 240px;
}

#paperBtn2{
    background: url("../images/paper.png");
    border-radius: 155px 45px 225px 15px/15px 225px 45px 155px;  
}

#scissorBtn2{
    background: url("../images/scissor.png");
    border-radius: 255px 15px 155px 15px/15px 100px 15px 255px;
}

.player2Btn{
    width:371px;
    height: 450px;
    border:dotted 5px #41403E;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.5);
    margin-right: 5%;
}

.player2Btn:hover{
    box-shadow:6px 12px 8px -10px rgba(31, 31, 31, 0.3);
    transform: skew(-8deg) rotate(-3deg);  
}

.score{
    position: relative;
    font-size: 80px;
    text-align: center;
    bottom: -75px;
    font-family: 'Cabin Sketch', cursive;
}

#instruction-display, #announcement-display{
    text-align: center;
    font-size: 150px;
    font-family: 'Londrina Sketch', cursive;
    width: 30%;
    color: black;
    float: left;
    margin-top: 5%;
    font-weight: 600;
}

/* Chat display */
.chat-section{
    clear: both;
    margin-top: 20%;
    width: 50%;
    border: 5px dashed #5c4033;
    min-height: 1000px;
    margin-left: 24%;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.8);
    border-radius: 40px 40px 40px 40px;
    overflow: auto;
}

#input-message{
    width: 50%;
    margin-left: 24%;
    height: 120px;
    font-size: 80px;
    background-color: transparent;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 40px 40px 40px 40px;
    font-weight: 600;
    outline: none;
    border: dashed 5px #5c4033;
}

#sendBtn{
    width: 50%;
    text-align: center;
    font-size: 100px;
    background-color: #B29772;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.8);
    border: dashed 4px #41403E;
    margin-left: 24%;
    font-family: 'Cabin Sketch', cursive;
}

#startBtn:hover, #sendBtn:hover{
    transition: box-shadow 600ms ease-out, left 200ms, right 200ms;
	box-shadow: 0 15px 15px rgba(31, 31, 31, 0.8);
}

.p1Sender{
    font-size: 80px;
    border: 4px yellow dashed;
    font-family: 'Cabin Sketch', cursive;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.5);
    margin: 10px 0;
    display: table;
}

.p2Sender{
    font-size: 80px;
    border: 4px green dashed;
    font-family: 'Cabin Sketch', cursive;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.5);
    margin: 10px 0;
    display: table;
}

.nonPlayerSender{
    font-size: 80px;
    border: 4px blueviolet dashed;
    font-family: 'Cabin Sketch', cursive;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.5);
    margin: 10px 0;
    display: table;
}